/* footer */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: FranklinGothicDemi;
    src: url('../assets/franklin-gothic-demi-regular.ttf');
}

@font-face {
    font-family: FranklinGothicDemi;
    font-weight: bold;
    src: url('../assets/franklin-gothic-demi-regular.ttf');
}

.footer .font-family-frank {
    font-family: FranklinGothicDemi, sans-serif !important;
}

.bg-primary {
    background: #003170;
}

.footer .button {
    border: none;
    outline: none;
}

.footer .text-primary {
    color: #003170;
}

.footer .text-white {
    color: #fff;
}


.footer .p-0 {
    padding: 0;
}


/* key features */
.footer .d-flex {
    display: flex;
}

.footer .justify-content-between {
    justify-content: space-between;
}


.p-3 {
    padding: 30px;
}

.footer .bg-warning {
    background: #FCAF17;
}

.footer .border {
    border: none;
}

.p-2 {
    padding: 5px 20px;
}

.footer .border-radius-2 {
    border-radius: 10px;
}

.footer .pull-right {
    float: right;
}

.footer .w-25 {
    width: 25px;
}

.footer .gap-15 {
    gap: 15px;
}

.footer .ml-15 {
    margin-left: 15px;
}


.footer .border-bottom-1 {
    border-bottom: 1px solid #a19f9fa1;

}


.footer .pb-2 {
    padding-bottom: 15px;
}


.footer .pt-3 {
    padding-top: 35px;
}

.footer ul {
    list-style: none;
}

.footer .gap-5 {
    gap: 5px;
}

.footer .m-0 {
    margin: 0;
}


.footer .row-flex {
    display: flex;
    align-items: end;
}

.footer ul li a {
    color: white;
}

.footer .d-none {
    display: none;
}

@media (min-width:768px) and (max-width:1024px) {

    .footer .container {
        width: 850px;
    }

    .footer .col-md-7 {
        width: 58.33333333%;
        float: left;
    }

    .footer .col-md-5 {
        width: 41.66666667%;
        float: left;

    }

    .footer .col-md-12 {
        width: 100%;
        float: left;
    }

    .footer .col-md-6 {
        float: left;
        width: 50%;
    }

    .footer ul {
        font-size: 10px;
    }
}

@media (max-width:768px) {

    .footer button {
        display: block;
        margin: auto;
        width: 100%;
        padding: 10px;
        font-size: 1.5em;
        margin-bottom: 10px;

    }

    .footer .pull-sm-right {
        float: none !important;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 10px;

    }

    .footer .w-25 {
        width: 35px;
    }

    .footer .gap-15 {
        gap: 30px;
    }

    .footer .ml-15 {
        margin-left: 0;
    }

    .footer .row-flex {
        display: block;
    }

    .footer .row-flex p {
        text-align: center;
    }



    .footer .d-none {
        display: block;
        margin-top: 20px;
        margin-bottom: 20px;
    }


    .footer ul li:first-child {
        display: none;
    }
}