* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: FranklinGothicDemi;
    src: url('/assets/franklin-gothic-demi-regular.ttf');
}

@font-face {
    font-family: FranklinGothicDemi;
    font-weight: bold;
    src: url('/assets/franklin-gothic-demi-regular.ttf');
}

.font-family-frank {
    font-family: FranklinGothicDemi, sans-serif !important;
}

.hero-heading {
    font-size: 6em;
    line-height: 0.8;
    margin: 0 0 30px;
}

.hero-image {
    margin: 70px 0 75px;

}

.hero-paragraph {
    font-size: 1.25em;
    padding-bottom: 30px;
}

.bg-primary {
    background: #003170;
}


.text-primary {
    color: #003170;
}

.font-weight-400 {
    font-weight: 400;
}

.w-100 {
    width: 100%;
}

.bg-secondary {
    background-color: #f6f4ef;
}


.hero-image-main {
    position: absolute;
    bottom: 0px;
    z-index: 1;
    max-width: 51vw;
    height: auto;
    right: 0;
    top: 0;
}

/* key features */
.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.gap-3 {
    gap: 15px;
}

.p-3 {
    padding: 30px;
}

.key-features img {
    margin-bottom: 10px;
    width: 2.5em;
}

.key-feature {
    width: 60%;
    border-left: 1px solid #a19f9fa1;
    padding-left: 20px;
}

.key-feature p {
    margin-bottom: 5px;
}

.key-feature strong {
    font-weight: bold;
    font-size: 20px;
}


/* make-your-move */
.make-your-move {
    padding-bottom: 30px;
}

.make-your-move-section {
    text-align: center;
    max-width: 60%;
    display: block;
    margin: 30px auto;
}


.make-your-move-section h3 {
    font-size: 3em;
}


.b-l-0 {
    border-left: 0 !important
}

.p-0 {
    padding: 0;
}

.border-accordion {
    border: 1px solid #a19f9fa1 !important;
    padding-left: 0;

}

.border-left-right {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;

}


.panel-title a {
    font-size: 1.5em;
    color: #003170;

}

#accordion {
    padding: 4.5rem;
    padding-left: 2rem;

}

#accordion .collapsed {
    color: black;
}

#accordion .panel-title a {
    font-weight: bold;
}

#accordion .custom-button {
    border: 1px solid #FCAF17;
    padding: 4px;
    background-color: white;
    font-weight: bold;
    color: #003170;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#accordion .collapsed img {
    transform: rotate(180deg);
}

.panel-default {
    border: none;
}

.panel-default>.panel-heading {
    border: none;
    background-color: white;
}

/* footer */
.bg-warning {
    background: #FCAF17;
}

.border {
    border: none;
}

.p-2 {
    padding: 5px 20px;
}

.border-radius-2 {
    border-radius: 10px;
}

.pull-right {
    float: right;
}

.w-25 {
    width: 25px;
}

.gap-15 {
    gap: 15px;
}

.ml-15 {
    margin-left: 15px;
}


.border-bottom-1 {
    border-bottom: 1px solid #a19f9fa1;

}


.pb-2 {
    padding-bottom: 15px;
}


.pt-3 {
    padding-top: 35px;
}

.footer ul {
    list-style: none;
}

.gap-5 {
    gap: 5px;
}

.m-0 {
    margin: 0;
}


.row-flex {
    display: flex;
    align-items: end;
}

.footer ul li a {
    color: white;
}

.footer .d-none {
    display: none;
}


@media (min-width:1600px) {
    .hero-background-image {
        background-image: url(../assets/hero-image.svg);
        background-repeat: no-repeat;
        background-position: 200%;
    }

    .hero-image-main {
        display: none;
    }
}

#mobile-hero-image-main {
    display: none;
}

@media (min-width:768px) and (max-width:1024px) {

    .container {
        width: 850px;
    }

    .hero {
        max-width: 45%;
    }

    .hero-image {
        width: 40%;
        margin: 40px 0 40px;

    }

    .hero-heading {
        font-size: 4.5em;
    }

    .hero-image-main {
        max-width: 66vw;
        right: -100px;
    }

    .col-md-7 {
        width: 58.33333333%;
        float: left;
    }

    .col-md-5 {
        width: 41.66666667%;
        float: left;

    }

    #accordion {
        padding: 1.5rem;
    }

    .col-md-12 {
        width: 100%;
        float: left;
    }

    .landing-page {
        overflow-x: hidden;
    }

    .col-md-6 {
        float: left;
        width: 50%;
    }

    .panel-body {
        padding: 3px;
    }

    .panel-heading {
        padding: 6px 15px;
    }

    .panel-title {
        font-size: 12px;
    }
}

@media (max-width:768px) {


    #hero-image-main {
        display: none;
    }

    .hero img {
        width: 40%;
    }

    #mobile-hero-image-main {
        display: block;
    }


    .hero-image-main {
        bottom: 0;
        max-width: 100%;
        left: 0;
        width: 100%;
    }

    .mobile-relative {
        position: relative;
    }

    .hero-heading {
        font-size: 3.2em;
        line-height: 0.9;
        margin: 0 0 35px;
    }

    .hero-image {
        margin: 30px 0 35px;

    }

    #mobile-hero-image-main {
        display: block;
        position: relative;
        width: 100%;
        padding: 0;
    }

    .hero-section {
        padding: 0 !important;
    }

    .hero-background-image {
        padding: 0 30px;
    }

    .key-feature-para,
    .make-your-move-section p {
        display: none;
    }

    .key-feature {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .key-feature:first-child {
        border-left: 0;
        padding: 0;
    }

    .p-3 {
        padding: 10px;
        padding-top: 15px;
    }

    .landing-page {
        overflow-x: hidden;
    }

    .key-features {
        overflow-x: scroll;
    }

    .make-your-move-section {
        max-width: 100%;
    }

    .make-your-move-section h3 {
        font-size: 2.5em;
    }

    .border-accordion {
        margin: 20px;
        padding: 0;
    }

    .border-left-right {
        border-bottom-left-radius: 0px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    #accordion {
        padding: 2.5rem;
        padding-left: 2rem;
    }

    .footer button {
        display: block;
        margin: auto;
        width: 100%;
        padding: 10px;
        font-size: 1.5em;
        margin-bottom: 10px;

    }

    .pull-sm-right {
        float: none !important;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 10px;

    }

    .w-25 {
        width: 35px;
    }

    .gap-15 {
        gap: 30px;
    }

    .row-flex {
        display: block;
    }

    .row-flex p {
        text-align: center;
    }



    .footer .d-none {
        display: block;
        margin-top: 20px;
        margin-bottom: 20px;
    }


    .footer ul li:first-child {
        display: none;
    }
}